.first-page-container {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:fit-content;
    position: relative;
  }
  
  .form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     justify-content: center;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: lightblue;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 60%;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  